/* colors
burgundy - #800020
cream - #f4f3e0
*/

body {
	background-color: #f4f3e0;
	font-family: 'Cousine', monospace;
	margin-top: 60px;
	color: rgb(85, 85, 85);
	transition: background-color .5s;
}

nav.navbar {
	background-color: #f4f3e0;
}

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link{
	color: #800020;
}

.social-nav {
	position: absolute;
	right: 1rem;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover, .social-nav a {
	color: #800020;
}

.navbar-light .navbar-nav .nav-link, .social-nav a {
	color: black;
}

.mobile-menu i:hover, .social-links u, .social-nav i:hover {
	color: #800020;
	transition: 0.3s;
}

nav button.navbar-toggler {
	border: none;
}

.sidenav, .socialnav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1032;
  top: 0;
  background-color: #f4f3e0;
  overflow-x: hidden;
  padding-top: 60px; 
  transition: 0.5s; 
}

.sidenav {
	left: 0;
}

.socialnav {
	right: 0;
}

.btn-primary:hover {
	background-color: #800020;
	border-color: #800020;
}

.sidenav a, .socialnav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
	transition: 0.3s;
	font-size: 600;
}

.sidenav a:hover, .sidenav a.active, .socialnav a:hover, .socialnav a:active {
  color: #800020;
}

.sidenav .closebtn, .socialnav .closebtn{
  position: absolute;
	top: 0;
	right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 20px;
}

@media screen and (max-height: 450px) {
  .sidenav, .socialnav {padding-top: 15px;}
  .sidenav a, .socialnav a {font-size: 18px;}
} 

section {
	margin-bottom: 5em;
}

section.main-section {
	margin-top: 2rem;
}

section .section-title {
	font-family: 'Rajdhani', sans-serif;
	color: black;
	font-weight: 600;
}

section .band-image {
	height: 320px;
	width: 320px;
}

section .band-image img {
	border-radius: 100%;
}

section.about-section .band-image img {
	border-radius: 0;
}

section.about-section .band-image {
	background-color: #f4f3e0;
}

section.about-section .section-text {
	color: rgb(30, 30, 30);
	word-wrap: break-word;
}

section.about-section .sub-title {
	color: rgb(30, 30, 30);
}

section.about-section .section-text p {
	margin: 0 0 1.7em;
	text-align: justify;
}

section .contact-form label{
	color: rgb(30, 30, 30);
	font-weight: 700;
}

section .contact-form label span{
	color: #aaa;
	font-weight: 400;
}

section .contact-form button {
	background-color: rgb(30, 30, 30);
	border: 1px solid rgb(30, 30, 30);
}

#collapseOne .card-body:hover,  #collapseOne .card-body.active {
	background:#800020;
	cursor: pointer;
	color:#fff;
	transition: 0.5s;
}

#accordion, .play-button-box {
	cursor: pointer;
	color: black;
}

.music-player {
	background-color: #fff;
	box-shadow: 0 1px 4px rgba(0,0,0,.2);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.player .row:first-child {
	height: 75px;
}

.play-button-box {
	border-right: 1px solid #e0e0e0;
	background: url('/assets/img/stealing-fire.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.b-border {
	border-bottom: 1px solid #e0e0e0;
}

.playlist-button {
	border-left: 1px solid #e0e0e0;
}

.music-player .song-name{
	font-size: 15px;
}

.music-player .artist-name {
	font-size: 13px;
}

.playlist-box .song-info{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 13px;
}

footer {
	background-color: #f4f3e0;
	font-size: .7rem;
}

footer span.developer {
	float: right;	
}

footer span.developer a {
	color: #800020;
}