/* colors
burgundy - #800020
cream - #f4f3e0
*/

body {
	background-color: #f4f3e0;
	font-family: 'Cousine', monospace;
	margin-top: 60px;
	color: rgb(85, 85, 85);
}

nav.navbar {
	background-color: #f4f3e0;
	padding-left: 0;
}

nav button.navbar-toggler {
	border: none;
}

section.main-section {
	margin-top: 2rem;
}

section .section-title {
	font-family: 'Rajdhani', sans-serif;
	color: rgb(30, 30, 30);
	font-weight: 600;
}

section .band-image {
	height: 320px;
	width: 320px;
}

section .band-image img {
	border-radius: 100%;
}

section.about-section .band-image img {
	border-radius: 0;
}

section.about-section .band-image {
	background-color: #f4f3e0;
}

section.about-section .section-text {
	color: rgb(30, 30, 30);
	word-wrap: break-word;
}

section.about-section .sub-title {
	color: rgb(30, 30, 30);
}

section.about-section .section-text p {
	margin: 0 0 1.7em;
	text-align: justify;
}

section .contact-form label{
	color: rgb(30, 30, 30);
	font-weight: 700;
}

section .contact-form label span{
	color: #aaa;
	font-weight: 400;
}

section .contact-form button {
	background-color: rgb(30, 30, 30);
	border: 1px solid rgb(30, 30, 30);
}

footer {
	background-color: #f4f3e0;
	font-size: .7rem;
}

footer span.developer {
	float: right;
}