/* colors
burgundy - #800020
cream - #f4f3e0
*/

body {
	background-color: #f4f3e0;
	font-family: 'Cousine', monospace;
	margin-top: 60px;
}

nav.navbar {
	background-color: #f4f3e0;
	padding-left: 0;
}

nav button.navbar-toggler {
	border: none;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

section.main-section {
	margin-top: 2rem;
}

section .section-title {
	font-family: 'Rajdhani', sans-serif;
	font-weight: 600;
}

section .band-image {
	height: 320px;
	width: 100%;
	border: 1px solid black;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	font-size: .7rem;
}

footer span.developer {
	float: right;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}